{
  "presets": [
    "react",
    [ "es2015", { "modules": false }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
      }
    }],
    "transform-class-properties",
    "transform-exponentiation-operator"
  ]
}
