@import '/scss/Variables';

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 0.3s ease;
  transform: translate3d(0, -200vh, 0);
  cursor: auto;

  &.open {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  &.closed {
    pointer-events: none;
  }
}

.slideRight {
  transform: translate3d(-100vw, 0, 0);
  -webkit-transform: translate3d(-100vw, 0, 0);
}

.slideRight.go {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.slideLeft {
  transform: translate3d(100vw, 0, 0);
  -webkit-transform: translate3d(100vw, 0, 0);
}

.slideLeft.go {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.slideUp {
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s;
  transform: translate3d(0, 100vh, 0);
  -webkit-transform: translate3d(0, 100vh, 0);
}

.slideUp.go {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.slideDown {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translate3d(0, -200vh, 0);
  -webkit-transform: translate3d(0, -200vh, 0);
}

.slideDown.go {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
