@import '~scss/Variables';

.staff-header {
  padding: 0px;
}
.staff-page {
  .staff-header {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .floating-shapes {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      height: 300px;
      background-color: $color-mint;
      z-index: 0;
    }

    .staff-header-text {
      pointer-events:none;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: $color-royal-blue;
      padding: 0px 30px;
      font-weight: bold;
    }
  }
}
