@import '~scss/Variables';

.staff-header {
  padding: 0px;
}
.staff-page {
  .staff-header {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .floating-shapes {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      height: 300px;
      background-color: $color-black;
      z-index: 0;
    }
  }
}
