@import '~scss/Variables';
@import '~scss/Animations';

.hero {
  width: 100%;
  height: 100vh;
  user-select: none;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .floating-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-hero-floating-shapes;
  }

  .hero-text-overlay {
    animation: zoomIn 1.0s ease;
    pointer-events:none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: $z-hero-text-overlay;
    position: relative;
    text-align: center;

    .alternate-logo {
      margin-bottom: 10px;
      max-height: 40vh;
    }

    .subtitle {
      font-size: $font-size-medium;
      color: $color-cream;
    }
  }

}
