@import '~scss/Variables';
@import '~scss/Mixins';

.titled-paragraphs {
  font-family: $font-family;
  .title {
    font-weight: bold;
  }

  // Small screens
  @media (max-width: $breakpoint-medium - 1) {
    .title {
      @include fontSizeStyles($font-size-medium, $line-height-normal);
      margin-bottom: 20px;
    }
    .paragraphs {
      @include fontSizeStyles($font-size-small, $line-height-high);
    }
  }

  // Large screens
  @media (min-width: $breakpoint-medium ) {
    .title {
      @include fontSizeStyles($font-size-large, $line-height-normal);
      margin-bottom: 10px;
    }
    .paragraphs {
      @include fontSizeStyles($font-size-medium, $line-height-high);
    }
  }
}
