@import '/scss/Variables';

.staff-name {
  padding: 10px 0px;
  font-family: $font-family;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  background-color: $color-royal-blue;
  color: white;
}
