@import '~scss/Variables';

.section-header {
  pointer-events:none;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $color-royal-blue;
  padding: 0px 30px;
  font-weight: bold;
}
