@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

// Colors
$color-royal-blue: rgb(43, 50, 137);
$color-mint: rgb(206, 233, 224);
$color-red: rgb(238, 70, 47);
$color-cream: rgb(255, 250, 243);
$color-black: rgb(23, 24, 25);

// Typography
$font-family: 'Questrial', sans-serif;
$font-style-heading: bold;
$font-style-body: normal;
$font-size-miniscule: 9px;
$font-size-tiny: 12px;
$font-size-small: 16px;
$font-size-medium: 21px;
$font-size-large: 37px;
$font-size-huge: 50px;
$line-height-low: 1.20;
$line-height-norm: 1.37;
$line-height-high: 1.75;

// Media Breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 1000px;
