@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

// Colors
$color-royal-blue: rgb(43, 50, 137);
$color-mint: rgb(206, 233, 224);
$color-red: rgb(238, 70, 47);
$color-cream: rgb(255, 250, 243);
$color-black: rgb(23, 24, 25);

// Typography
$font-family: 'Questrial', sans-serif;
$font-style-heading: bold;
$font-style-body: normal;
$font-size-miniscule: 9px;
$font-size-tiny: 12px;
$font-size-small: 16px;
$font-size-medium: 21px;
$font-size-large: 37px;
$font-size-huge: 50px;
$line-height-low: 1.20;
$line-height-normal: 1.37;
$line-height-high: 1.75;

// Media Breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 1000px;

// Component Sizes
$navbar-height: 80px;
$box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);

// Z-Indexes
$z-navbar: 5000;
$z-navpanel: 5100;
$z-hamburger: 5200;

$z-hero-floating-shapes: 4000;
$z-hero-text-overlay: 4100;

// Sizes
$staff-image-height: 250px;
$staff-image-width: 200px;

$staff-card-height: 275px;
$staff-card-width: 210px;

$card-width: 250px;
$card-height: 300px;
