@import '~scss/Variables';

.staff-card {
  border-radius: 2px;
  width: $staff-card-width;
  overflow: hidden;
  margin: 15px;
  outline: 0;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
  transition: all 200ms ease-in;
  position: relative;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
