@import '~scss/Variables';

$shape_opacity: 0.3;
$shape_opacity_on_hover: 0.8;

.floating-shape {
  position: absolute;

  .shape .stroke { transition: stroke 1.0s ease; }

  &.color-1 {
    .shape {
      .stroke { stroke: rgba($color-mint, $shape_opacity); }
    }

    &:hover {
      .shape .stroke {
        stroke: rgba($color-mint, $shape_opacity_on_hover);
      }
    }
  }

  &.color-2 {
    .shape {
      .stroke {
        stroke: rgba($color-red, $shape_opacity);
      }
    }
    &:hover {
      .shape .stroke {
        stroke: rgba($color-red, $shape_opacity_on_hover);
      }
    }
  }

  &.creator-user {
    .shape {
      .stroke {
        stroke: rgba($color-royal-blue, $shape_opacity);
      }
    }
    &:hover {
      .shape .stroke {
        stroke: rgba($color-royal-blue, $shape_opacity_on_hover);
      }
    }
  }
}
