@import '~scss/Variables';

$shape_opacity: 1.0;
$shape_opacity_on_hover: 1.0;

.floating-shape {
  position: absolute;
  transform-origin: center;
  transition: all 1.0s ease;

  .shape .stroke { transition: stroke 2.0s ease; }

  .shape {
    .stroke { stroke: rgba($color-royal-blue, $shape_opacity); }
  }

  &:hover {
    .shape .stroke {
      stroke: rgba($color-royal-blue, $shape_opacity_on_hover);
    }
  }
}

.floating-shape.user {
  .shape {
    .stroke {
      stroke: rgba($color-red, $shape_opacity);
    }
  }
  &:hover {
    .shape .stroke {
      stroke: rgba($color-red, $shape_opacity_on_hover);
    }
  }
}
