@import "../../scss/Variables";

.navbar {
  width: 100%;
  height: $navbar-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-navbar;

  a {
    color: $color-cream;
    text-decoration: none;
    font-weight: bold;
  }
}

@media (max-width: $breakpoint-small) {
  .navbar-hamburger {
    display: flex !important;
  }
  .navbar-tabs {
    display: none !important;
  }
}

@media (min-width: $breakpoint-small - 1) {
  .navbar-hamburger {
    display: none !important;
  }
  .navbar-tabs {
    display: flex !important;
  }
}

.navbar-logo {
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

  a {
    font-size: $font-size-medium;
  }
}

.navbar-tabs {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    cursor: pointer;
    transition: all 3.5s ease;

    a {
      display: flex;
      align-items: center;

      width: 100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;

      font-size: $font-size-small;
      transition: all 0.25s ease;
    }

    &:hover {
      a {
        transform: scale(1.1);
      }
    }

  }
}

.navbar-hamburger {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  z-index: $z-hamburger;

  & > div {
    width: 20px;
    height: 4px;
    transition: background-color 0.5s;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  & > div {
    background-color: $color-cream;
  }
}

.nav-panel {
  z-index: $z-navpanel;
  position: fixed;
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-royal-blue;

  &.panel-closed {
    opacity: 0;
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
  }

  &.panel-open {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
  }

  .nav-item {
    padding-bottom: 20px;
    padding-top: 20px;
    transition: all 0.25s ease;

    &:hover {
      a { color: $color-red; }
      transform: scale(1.1);
      text-shadow: 0px 2px rgba($color-black, 0.5);
    }

    a {
      color: $color-cream;
      font-size: $font-size-medium;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
