@import '~scss/Variables';

$image-width-percentage: 40%;

.home-page {

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .home-page-copy-row {
    display: flex;
    flex-flow: row nowrap;

    &:nth-child(odd) {
      background-color: $color-cream;

      img { order: 1; }

      .titled-paragraphs {
        order: 2;
        text-align: right;

        .title {
          color: $color-red;
        }
        .paragraphs {
          color: $color-black;
        }
      }
    }

    &:nth-child(even) {
      background-color: $color-mint;

      img { order: 2; }

      .titled-paragraphs {
        order: 1;
        text-align: left;
        
        .title {
          color: $color-royal-blue;
        }
        .paragraphs {
          color: $color-black;
        }

      }
    }

    img {
      height: 100%;
      width: $image-width-percentage;
    }

    .titled-paragraphs {
      padding: 50px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
  }


}
