@import '~scss/Variables';

.floating-shapes-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.floating-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $color-royal-blue;
}
